<br><br><br><br><br>
<carousel>
    <slide>
        <img src="assets/images/petz4.jfif" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/petz.png" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/petz2.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/petz3.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
</carousel>

<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <div class="container">
            <h1 style="text-align: justify;">Quem Somos?</h1> 
        
            <p style="text-align: justify;">Fonte de alegria, evolução, bem-estar. Temos experiência e oferecemos espaços, produtos e serviços – e tudo mais que for preciso – para que a relação entre pets e suas famílias seja melhor a cada dia. Essa é nossa razão de ser.</p>
            <p style="text-align: justify;">Somos apaixonados por pets! Essa não é apenas uma expressão inserida em nossa missão como empresa, mas uma realidade vivenciada todos os dias em nossas atitudes, nas lojas e em todos os nossos pontos de contato.</p>
            <p style="text-align: justify;">Trabalhamos para que você e seus pets tenham a melhor experiência em nossas lojas, seja através dos serviços de estética e veterinária ou pela variedade de produtos espalhados nos mais diversos mundos: cães, gatos, peixes, aves, roedores, répteis. Ah, mantemos nossas orelhas em pé para saber das novidades do mundo pet e levá-las até você.</p>
            <p style="text-align: justify;">Conveniência é com a gente! Tudo é preparado e organizado para você encontrar facilmente o que procura, e o melhor: a qualquer hora e no lugar que preferir.</p>
            <p style="text-align: justify;">Sabemos que cuidar de nossos bichinhos é um prazer: selecionar a melhor ração, buscar mimos novos, levá-los para um banho. O que importa é ver que eles estão bem.</p>
            <p style="text-align: justify;">Muitas vezes, sabemos que seu tempo é curto, mas queremos que você aproveite cada segundo que passar conosco! Para isso, a gente trata todos os pets com muita dedicação e respeito e trabalha a todo instante para que nossas lojas, produtos e serviços estejam à altura de tanto amor e cuidado.</p>
            <p style="text-align: justify;">Convidamos você a dar um passeio em nossas lojas, se divertir, trocar ideias, histórias, sentimentos, criar laços, sorrir com a gente. Isso é o que fazemos, e esse é o nosso jeito.</p>
            <p style="text-align: justify;">Somos a PetStop, seu pet center de estimação!</p>
            
            <H2 style="text-align: justify;">Nossa Missão:</H2>
        
            <p style="text-align: justify;">Criar valor na interação com os apaixonados por animais de estimação, potencializando o bem da relação entre o pet e sua família.</p>
            <br>

            <H2 style="text-align: justify;">Nossos Valores:</H2>
        
            <p style="text-align: justify;">Ser mundialmente reconhecido como melhor ecossistema do segmento pet até 2025.</p>
            <br>
        
            <H2>Contatos</H2>
        
            <H2>(61)984416450</H2>
            <h6>Siga-nos nas redes sociais e fique por dentro de todas as nossas promoções e descontos imperdíveis</h6>
            <div align="center" class="container">
                <a href="http://facebook.com" target="_blank">
                    <img [src]= "face" width="50" alt="">
                </a>
                <a href="http://instagram.com" target="_blank">
                    <img [src]= "inst"width="55" alt="">
                </a>
                <a href="http://twitter.com" target="_blank">
                    <img [src]= "tt" width="60"alt="">
                </a>
            </div>
        </div>
    </div>
    <br>
</section>

